 html { 
 	overflow-x:  hidden; 
 }

body {
	font-family: 'Roboto', sans-serif;
	color: #27292D;
	background: #E5E5E5;
	font-size: 16px;	
}

a {
	font-family: 'Roboto';
}

h2 {
	font-family: Roboto;
	font-style: normal;
	font-weight: normal;
	font-size: 24px;
	color: white;
}

.kiwi-1, .kiwi-2, .kiwi-3, .kiwi-4, .kiwi-5, .kiwi-6, .kiwi-7, .kiwi-8, .kiwi-9, .kiwi-10, .kiwi-11,.kiwi-12,.kiwi-13,.kiwi-14 {
	-webkit-touch-callout: none; /* iOS Safari */
  	-webkit-user-select: none;   /* Chrome/Safari/Opera */
    -khtml-user-select: none;    /* Konqueror */
  	-moz-user-select: none;      /* Firefox */
  	-ms-user-select: none;       /* Internet Explorer/Edge */
  	user-select: none; 
  }


/* change the brand and text color */
.navbar-custom .navbar-brand,
.navbar-custom .navbar-text {
    color: rgba(255,255,255,.8);
}
/* change the link color */
.navbar-custom .navbar-nav .nav-link {
    color: rgba(255,255,255, 1);
}
/* change the color of active or hovered links */
.navbar-custom .nav-item.active .nav-link,
.navbar-custom .nav-item:hover .nav-link {
    color: #ffffff;
}

.navbar-toggler-icon img {
	width: 30px;
	height: 20px;
}

.navbar-toggler {

}
.navbar-toggler:focus {
	outline: none;
}

.block-1{
	height: 100vh;
	background: url(../img/bg.jpg) no-repeat fixed;
	background-position-x: 60%;
}

.w-100 {
	width: 100%;
}

.menu-contacts {	
	width: 100%;
	text-align: right;
}

.menu-contacts a {
	font-family: 'Roboto Slab';
}

.nav-link {
	color: white;
}

.nav-link:hover {
	text-decoration: underline;	
	color: white;
}


.bg-header {
	position: absolute;
	top: -5px;
	height: 85px;
	width: 100%;	
	background-color: rgba(0,0,0,0.5);
}

.slogan {
	position: absolute;
	top: calc(50% - 100px);
	font-family: Roboto Slab;
	color: #AAD137;
}

.slogan h1 {
	font-style: normal;
	font-weight: bold;
	font-size: 3rem;
	line-height: 1.4em;
}



.kiwi-1 {
	position: absolute;
	z-index: -2;
	bottom: 25%;
	left: 33%;
	mix-blend-mode: multiply;
	filter: blur(2px);
	transform: rotate(80.69deg);
	width: 5%;
}

.kiwi-2 {
	position: absolute;
	z-index: -2;
	bottom: 80%;
	left: -50%;
	mix-blend-mode: multiply;
	filter: blur(1px);
	transform: rotate(37.69deg);
	width: 55%;
}

.kiwi-3 {
	position: absolute;
	z-index: -2;
	bottom: 60%;
	left: 40%;
	transform: rotate(49.69deg);
	width: 70%;
}

.kiwi-4 {
	position: absolute;
	z-index: -2;
	bottom: -1%;
	left: 65%;
	mix-blend-mode: multiply;
	filter: blur(4px);
	transform: rotate(124.69deg);
	width: 5%;
}

.kiwi-5 {
	position: absolute;
	z-index: -2;
	bottom: 5%;
	right: 18%;
	mix-blend-mode: multiply;
	filter: blur(2px);
	transform: rotate(67.69deg);
	width: 7%;
}

.kiwi-12 {
	position: absolute;
	z-index: -2;
	bottom: 65%;
	right: 48%;
	mix-blend-mode: multiply;
	filter: blur(2px);
	transform: rotate(77.69deg);
	width: 70%;
}

.kiwi-13 {
	position: absolute;
	z-index: -2;
	bottom: -40%;
	left: -8%;
	mix-blend-mode: multiply;
	filter: blur(2px);
	transform: rotate(87.69deg);
	width: 50%;
}

.block-2 {
	padding-bottom: 150px;
}


.circle {
	cursor: pointer;
	min-width: 250px;
	min-height: 250px;
	text-align: center;
	border-radius: 50%;
	background: rgba(229, 229, 229, 0.90);
	box-shadow: inset 0px 0px 32px #FFFFFF;
	
}

.circle:hover, .circle-content:hover + .circle {
	transition: all 0.3s ease-out;
	background: rgba(255, 255, 255);
	box-shadow: 0px -3px 11px rgba(255, 255, 255, 0.74), 3px 6px 17px rgba(0, 0, 0, 0.25);
}


.padding-circle {
	padding-top: 170px;
}

.circle-content {
	cursor: pointer;
	position: absolute;
}


.circle-content p{
	width: 100%;
	padding: 0px;
	margin: 0px;
	font-family: Roboto Slab;
	font-style: normal;
	font-weight: bold;
	font-size: 1.3em;
	line-height: 32px;
	-webkit-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
	-o-user-select: none;
	user-select: none;
}

.kiwi-6 {
	position: absolute;
	z-index: -2;
	bottom: 20%;
	left: -30%;
	mix-blend-mode: multiply;
	transform: rotate(67.69deg);
	width: 70%;
}

.kiwi-7 {
	position: absolute;
	z-index: -2;
	bottom: 15%;
	left: 5%;
	mix-blend-mode: multiply;
	filter: blur(4px);
	transform: rotate(80.69deg);
	width: 35%;
}

.kiwi-8 {
	position: absolute;
	z-index: -2;
	bottom: -55%;
	left: -15%;
	mix-blend-mode: multiply;
	transform: rotate(67.69deg);
	width: 100%;
}

.kiwi-9 {
	position: absolute;
	z-index: -2;
	bottom: 15%;
	left: 10%;
	mix-blend-mode: multiply;
	filter: blur(2px);
	transform: rotate(67.69deg);
	width: 45%;
}

.kiwi-10 {
	position: absolute;
	z-index: -2;
	bottom: -55%;
	left: 48%;
	mix-blend-mode: multiply;
	filter: blur(2px);
	transform: rotate(67.69deg);
	width:75%;
}

.kiwi-11 {
	position: absolute;
	z-index: -2;
	bottom: -15%;
	left: 38%;
	mix-blend-mode: multiply;
	transform: rotate(67.69deg);
	width: 100%;
}


.block-3 {
	background: url("../img/block4bg.png")no-repeat;
	background-position: top 25% right 25%;
	background-size: 25%;
	margin-top: 140px;
	background-color: white;
	box-shadow: 0px -17px 11px rgba(255, 255, 255, 0.74), 3px 6px 17px rgba(0, 0, 0, 0.25);
}

.block-3-title h2 {
	padding-top: 70px;
	font-family: Roboto Slab;
	font-style: normal;
	font-weight: bold;
	font-size: 2em;
	line-height: 32px;
	text-align: center;
	color: black;
}

.kiwi-ul {
	min-height: 110px;
	cursor: pointer;
	padding-top: 10px;
	padding-bottom: 10px;
}

.kiwi-ul p {
	padding: 0px;
	margin: 0px;
}


.kiwi-ul p span{
	font-size: 1.1em;
	font-weight: bold;

}

.kiwi-ul:hover {
}

.kiwi-ul:hover img{
	transform: rotate(360deg);
	transition: all .5s ease-out;	
}

.kiwi-ul:hover p {	
	transition: all 0.3s ease-out;
}

.btns {
	padding-top: 50px;
	padding-bottom: 80px;
} 

.my-btn-1 a{
	margin-bottom: 10px;
	font-family: Roboto Slab;
	font-style: normal;
	font-weight: bold;
	text-align: center;
	cursor: pointer;
	width: 100%;    
	border: 3px solid #E5E5E5;
	color: black;
	border-radius: 18px;
	padding-top: 12px;
	padding-bottom: 12px;
	text-decoration: none; 
}

.my-btn-2 a{
	margin-bottom: 10px;
	font-family: Roboto Slab;
	font-style: normal;
	font-weight: bold;
	text-align: center;
	cursor: pointer;
	width: 100%;    
	color: black;
	border: 3px solid #AAD137;
	border-radius: 18px;
	padding-top: 12px;
	padding-bottom: 12px; 
	text-decoration: none;
}


.my-btn-3 a{
	font-family: Roboto Slab;
	font-style: normal;
	font-weight: bold;
	text-align: center;
	cursor: pointer;
	width: 100%;    
	color: black;
	border: 3px solid #F1C425;
	border-radius: 18px;
	padding-top: 12px;
	padding-bottom: 12px;
	text-decoration: none; 
}


.my-btn-4 {
		margin-top: 50px;
}
.my-btn-4 a {
	padding-left: 80px;
	padding-right: 80px;
	margin-bottom: 10px;
	font-family: Roboto Slab;
	font-style: normal;
	font-weight: bold;
	text-align: center;
	cursor: pointer;
	width: 100%;    
	color: white;
	background-color: rgba(0,0,0, 0.5);
	border: 3px solid #AAD137;
	border-radius: 18px;
	padding-top: 12px;
	padding-bottom: 12px; 
	text-decoration: none;
}

.my-btn-4 a:hover {
	color: black;
	transition: all 0.3s ease-out;
	box-shadow: 0 0 50px 7px #AAD137;
	background: linear-gradient(#AAD137, #AAD137) #AAD137;
}



.my-btn-1 a:hover{
	color: white;
	background: #E5E5E5;
	box-shadow: 0px -17px 11px rgba(255, 255, 255, 0.74), 3px 6px 17px rgba(0, 0, 0, 0.25);
	transition: all 0.3s ease-out;
}
.my-btn-2 a:hover{
	color: white;
	background: #AAD137;
	box-shadow: 0px -17px 11px rgba(255, 255, 255, 0.74), 3px 6px 17px rgba(0, 0, 0, 0.25);
	transition: all 0.3s ease-out;
}
.my-btn-3 a:hover{
	color: white;
	background: #F1C425;
	box-shadow: 0px -17px 11px rgba(255, 255, 255, 0.74), 3px 6px 17px rgba(0, 0, 0, 0.25);
	transition: all 0.3s ease-out;
}

.block-4 {
	background-position: top 40% right 15%;
	padding-top: 40px;
	padding-bottom: 70px;
}

.block-4-title {	
	text-align: center;
}

.block-4-title h2 {
	padding-bottom: 40px;
	color: black;
	font-family: Roboto Slab;
	font-style: normal;
	font-weight: bold;
	font-size: 2em;
}


.b1 {
	padding: 0px;
	height: 200px;
	cursor: pointer;
}
.b2 {
	padding: 0px;
	height: 200px;
	cursor: pointer;

}
.b3 {
	padding: 0px;
	height: 200px;
	cursor: pointer;
}
.b4 {
	padding: 0px;
	height: 200px;
	cursor: pointer;
}

.b5  {
	padding: 0px;
	height: 400px;
	cursor: pointer;
}


.b1 img{
	-webkit-filter: grayscale(100%); /* Safari 6.0 - 9.0 */
    filter: grayscale(100%);
	height: 200px;
	width: 100%;
}
.b2 img {
	-webkit-filter: grayscale(100%); /* Safari 6.0 - 9.0 */
    filter: grayscale(100%);
	height: 200px;
	width: 100%;
}
.b3 img {
	-webkit-filter: grayscale(100%); /* Safari 6.0 - 9.0 */
    filter: grayscale(100%);
	height: 200px;
	width: 100%;
}
.b4 img {
	-webkit-filter: grayscale(100%); /* Safari 6.0 - 9.0 */
    filter: grayscale(100%);
	height: 200px;
	width: 100%;
}

.b5 img  {
	-webkit-filter: grayscale(100%); /* Safari 6.0 - 9.0 */
    filter: grayscale(100%);
	height: 400px;
	width: 100%;
}

.block-4-footer {
	text-align: center;
}

.b1 img:hover{ 
	 -webkit-filter: grayscale(0%); /* Safari 6.0 - 9.0 */
    filter: grayscale(0%);
  	-webkit-transition: .3s ease-in-out;
  	transition: .3s ease-in-out;
}
.b2 img:hover{ 
	-webkit-filter: grayscale(0%); /* Safari 6.0 - 9.0 */
    filter: grayscale(0%);
  	-webkit-transition: .3s ease-in-out;
  	transition: .3s ease-in-out;
}
.b3 img:hover{ 
	 -webkit-filter: grayscale(0%); /* Safari 6.0 - 9.0 */
    filter: grayscale(0%);
  	-webkit-transition: .3s ease-in-out;
  	transition: .3s ease-in-out;
}
.b4 img:hover{ 
	 -webkit-filter: grayscale(0%); /* Safari 6.0 - 9.0 */
    filter: grayscale(0%);
  	-webkit-transition: .3s ease-in-out;
  	transition: .3s ease-in-out;
}
.b5 img:hover{ 
	-webkit-filter: grayscale(0%); /* Safari 6.0 - 9.0 */
    filter: grayscale(0%);
  	-webkit-transition: .3s ease-in-out;
  	transition: .3s ease-in-out;
}

.block-4-footer h2 {
	padding-top: 40px;
	padding-bottom: 40px;
	color: black;
	font-family: Roboto Slab;
	font-style: normal;
	font-weight: bold;
	font-size: 2em;
}

.block-5 {
	padding-bottom: 40px;
	background-color: #fff;
}

.block-5-title h2 {
	font-family: Roboto Slab;
	font-style: normal;
	font-weight: bold;
	font-size: 24px;
	line-height: 32px;
	text-align: center;

	color: #AAD137;
}

.block-5-content {
	text-align: center;
}

.block-5-content p {	
	padding-top: 20px;
	font-family: Roboto;
	font-style: normal;
	font-weight: normal;
	font-size: 18px;
	line-height: 21px;	
}

.block-5-price {
	font-family: Roboto Slab;
	font-style: normal;
	font-weight: bold;
	font-size: 36px;
	line-height: 47px;
	text-align: center;
	color: #000000;
	padding-top: 20px;
	text-align: right;
}

.block-5-button {
	margin-top: 25px;
	border: 3px solid #AFAFAF;
	box-sizing: border-box;
	border-radius: 12px;
	text-align: center;
}

.block-5-button a {
	padding-top: 7px;
	padding-bottom: 7px;
	display: block;
	text-decoration: none;
	font-family: Roboto Slab;
	font-style: normal;
	font-weight: bold;
	font-size: 16px;
	line-height: 21px;
	text-align: center;
	color: #AFAFAF;
}

.block-5-item1 {
	border: 3px solid #E5E5E5;
	border-radius: 15px;
	margin-bottom: 20px;
	width: 80%;
	padding-top: 25px; 
	padding-bottom: 15px;
}

.block-5-item2 {
	margin-bottom: 20px;
	width: 80%;
	padding-top: 25px; 
	padding-bottom: 15px;
	border-radius: 15px;
	border: 3px solid #AAD137;
}

.block-5-item3 {
	margin-bottom: 20px;
	width: 80%;
	padding-top: 25px; 
	padding-bottom: 15px;
	border-radius: 15px;
	border: 3px solid #F1C425;
}

.block-5-item2 h2 {
	color: black;
}
.block-5-item3 h2 {
	color: black;
}

.block-6 {
	padding-bottom: 40px;
	padding-top: 40px;
}

.block-6-button {
	text-align: center;
	border: 3px solid #AAD137;
	border-radius: 18px;
}

.block-6-button:hover {
	color: white;
	border: 3px solid #AAD137;
	background: #AAD137;
	box-shadow: 0px -7px 11px rgba(255, 255, 255, 0.74), 3px 6px 17px rgba(0, 0, 0, 0.25);
	transition: all 0.3s ease-out;
}

.block-6-button:hover a {
	transition: all 0.3s ease-out;
	color: white;
}

.block-6-button a {	
	text-decoration: none;
	padding-top: 12px;
	padding-bottom: 12px;
	color: black;
	font-family: Roboto Slab;
	font-style: normal;
	font-weight: bold;
	font-size: 18px;
	line-height: 24px;
	text-align: center;
	display: block;
}

.block-6-title {

	padding-bottom: 80px;
	font-family: Roboto Slab;
	font-style: normal;
	font-size: 16px;
	line-height: 32px;
	padding-top: 40px;
	text-align: center;
}

.block-6-title a {
	font-family: Roboto Slab;
	text-decoration: none;
	padding-left: 22px;
	padding-right: 22px;
	padding-top: 15px;
	padding-bottom: 15px;
	background-color: #F1C425;
	border-radius: 12px;
	color: black;
}

.block-6-contacts {
	padding-bottom: 40px;
}

.block-6-contacts p {
	display: contents;
	color: #27292D;
}

.block-6-contacts a {
	color: black;
	text-decoration: none;
}


.block-5-item1:hover {
	box-shadow: 0px -17px 11px rgba(255, 255, 255, 0.74), 3px 6px 17px rgba(0, 0, 0, 0.25);
	transition: all 0.3s ease-out;
}
.block-5-item2:hover {
	box-shadow: 0px -17px 11px rgba(255, 255, 255, 0.74), 3px 6px 17px rgba(0, 0, 0, 0.25);
	transition: all 0.3s ease-out;
}

.block-5-item3:hover {
	box-shadow: 0px -17px 11px rgba(255, 255, 255, 0.74), 3px 6px 17px rgba(0, 0, 0, 0.25);
	transition: all 0.3s ease-out;
}

.block-6-title a:hover {
	box-shadow: 0px -7px 11px rgba(255, 255, 255, 0.74), 3px 5px 17px rgba(0, 0, 0, 0.25);
	transition: all 0.3s ease-out;
}

.block-5-button:hover {
	border: 3px solid #AAD137;
	background-color: #AAD137;
	transition: all 0.3s ease-out;
}

.block-5-button a:hover {
	color: white;
	transition: all 0.3s ease-out;
}

.b2h1 {
	padding-top: 80px;
	padding-bottom: 80px;
	text-align: center;
	font-family: Roboto Slab;
	color: black;
}

.modal-header-text {
	font-size: 18px;
}
.form-control:focus {
	border-color: #AAD137;
	box-shadow: 0 0 0 0.2rem #AAD137;
}
.btn-submit  {
	border: 2px solid #AAD137;
	color: black;
    background-color: white;
    border-radius: 15px;
    padding-left: 30px;
    padding-right: 30px;
}

.btn-submit:hover {
	box-shadow: 0 0 0 0.2rem #AAD137;
	color: white;
	background-color: #AAD137;
	border: 2px solid #AAD137;
}

.btn-submit:focus {
	box-shadow: 0 0 0 0.2rem #AAD137;
	color: white;
	background-color: #AAD137;
	border: 2px solid #AAD137;
}

.btn-primary:not(:disabled):not(.disabled).active, .btn-primary:not(:disabled):not(.disabled):active, .show>.btn-primary.dropdown-toggle {
	box-shadow: 0 0 0 0.2rem #AAD137;
	color: white;
	background-color: #AAD137;
	border-color: #AAD137;
}

.btn-primary:not(:disabled):not(.disabled).active:focus, .btn-primary:not(:disabled):not(.disabled):active:focus, .show>.btn-primary.dropdown-toggle:focus {
	box-shadow: none;
}

.modal-content {
	font-family: 'Roboto';
	border-radius: 15px;
}

.bgwhite {
	z-index: 3000;
	position: absolute;
	background-color: #E5E5E5;
	font-size: 20px;	
}

.bgwhite a {
	color: black !important;
}
.star p {
	text-align: center;
    padding-top: 30px;
}



.star span{
	font-size: 0.8em;
	color: red;
}

.btn-close {
	border: 2px solid #AAD137;
	color: black;
    background-color: white;
    border-radius: 15px;
    padding-left: 30px;
    padding-right: 30px;
}


.btn-close:hover {
	box-shadow: 0 0 0 0.2rem #AAD137;
	color: white;
	background-color: #AAD137;
	border: 2px solid #AAD137;
}

.btn-close:focus {
	box-shadow: 0 0 0 0.2rem #AAD137;
	color: white;
	background-color: #AAD137;
	border: 2px solid #AAD137;
}

.block-content-hidden {	
	margin-right: 10px !important;
	left: 100px;
	top: 0;
	position: absolute;	
	height: 0;
	overflow: hidden;
	transition: all 300ms ease-in-out;
}

.kiwi-ul:hover .fr span {
	opacity: 0;
}

.kiwi-ul:hover .block-content-hidden {
	z-index: 3000;
	overflow: visible;
	border-radius: 15px;
	padding: 15px !important;
	background-color: #AAD137;
	height: auto;
	transition: all 300ms ease-in-out;
}
.fr {
	display: inline-block;

}

.owl-dots {
	margin-top: 12px !important;
}

.owl-nav {
	display: none;
}